.list {
    list-style: none;
    display: inline-block;
  }

.list:hover{
    cursor: pointer;
}

.Image{
    border-radius: 50px;
    margin: 0 20px 0 10px;
    height: 40px;
    width: 40px;
  }


